# Cloudinary — almacenamiento de PDFs de planes
CLOUDINARY_CLOUD_NAME=dbdx93usc
CLOUDINARY_API_KEY=441555921852412
CLOUDINARY_API_SECRET=OEnXafwEx-CSdqhHAUtTxo5V48c

# Base de datos (opcional)
# DATABASE_URL=
